<div class="widget-ads widget">
    <h4 class="widget__title">スポンサーリンク</h4>
    <div class="widget__content">
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1359917410417877"
            crossorigin="anonymous"></script>
        <!-- AIKIDSPC -->
        <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1359917410417877"
            data-ad-slot="3769441694" data-ad-format="auto" data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>

    </div>
</div>