<div class="widget-profile widget">
    <div class="widget-profile__header">
        {{- if .Site.Params.Author.image }}
        <img class="widget-profile__img" src="{{ .Site.Params.Author.image | relURL }}"
            alt="{{ .Site.Params.Author.name }}" style="border-radius: 50%; object-fit: cover; padding: 10px;">
        {{- end }}
        <h3 class="widget-profile__title">{{ .Site.Params.Author.name }}</h3>
    </div>
    <div class="widget-profile__content widget__content">
        <p>{{ .Site.Params.Author.bio | markdownify }}</p>
    </div>
</div>